PG_HOST=localhost
PG_DBNAME=yotas_exp
PG_USER=yotas_exp
PG_PASSWORD=yotas_exp
PG_PORT=5432


PORT=8080
BASE_URI=http://localhost:8080


GITHUB_CLIENT_ID=your_github_client_id
GITHUB_SECRET_KEY=your_secret_key